.certificate
{
  padding: 50px 0;
  display: grid;
  grid-row-gap: 50px;
  text-align: center;

  &-wrapper
  {
	box-shadow: 0 0 5px #000;
	margin-bottom: 20px;
  }
  &-wrapper:last-child
  {
	margin-bottom: 50px;
  }

  &-side
  {
	display: grid;
	grid-row-gap: 50px;
	justify-content: space-around;
  }

  &-title
  {
	font-weight: 900;
	text-shadow: 0 0 2px #000000,
	-1px -1px 1px #000000, 0 -1px 1px #000000, 1px -1px 1px #000000,
	-1px 0 1px #000000, 0 0 1px #000000, 1px 0 1px #000000,
	-1px 1px 1px #000000, 0 1px 1px #000000, 1px 1px 1px #000000;
	padding: 0;
  }

  &-description
  {
	display: grid;
	grid-row-gap: 10px;
  	font-size: 12px;
  }

  &-param-title
  {
	font-weight: 700;
	display: block;
  }

  &-image
  {
	max-width: 200px;
  }

  & a.download-button
  {
	font-weight: 700;
	display: inline-block;
	border-radius: 100px;
	box-shadow: 0 1px 5px #000;
	padding: 16px 36px;
	color: #222;
	background-color: #fff;
	transition: .2s;

	&:hover
	{
	  background-color: #222;
	  color: #fff;
	}

	&.disabled
	{
	  background-color : #ddd;
	  color: #555;
	}
  }
}

@media screen and (min-width: 480px)
{
  .certificate-image
  {
	max-width : 350px;
  }
  .certificate-description
  {
	font-size: 1rem;
  }
}

@media screen and (min-width: 720px)
{
	.certificate-wrapper
	{
	  margin-bottom: 30px;
	  &:last-child
	  {
		margin-bottom : 50px;
	  }
	}
	.certificate-param-title
	{
	  display: inline;
	  font-weight: unset;
	}
}

@mixin large-certificate
{
  &.certificate
  {
	text-align: left;
	grid-template-columns: 1fr min-content;
	justify-items: start;

	&-wrapper
	{
	  & ~ &
	  {
		margin-top : 50px;
	  }

	  &:last-child
	  {
		margin-bottom : 100px;
	  }
	}

	&-image
	{
	  max-width: 300px;
	}

	&-title
	{
	  text-align: left!important;
	}

	&-description
	{
	  grid-row-gap : 20px;
	}

	&-image
	{
	  max-width : 450px;
	}
  }

  .certificate-side--left
  {
	justify-items: start;
  }

  .certificate-side--right
  {
	justify-items: end;
  }
}

@media screen and (min-width: 1000px)
{
  .certificate-wrapper
  {
	margin-bottom: 50px;
	&:last-child
	{
	  margin-bottom : 100px;
	}
  }
  .certificate-large--1000
  {
	@include large-certificate;
  }
}

@media screen and (min-width: 1440px)
{
  .certificate-large--1440
  {
	@include large-certificate;
  }
}