Options -Indexes
ErrorDocument 404 /app/bootstrap.php

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} -f
  RewriteCond %{REQUEST_FILENAME} !/app/bootstrap.php
  RewriteRule ^(.*)$ /app/bootstrap.php [L,QSA]
</IfModule>
