.container
{
  margin: 0 auto;
  width : 100%;
}

.row
{
  padding-left: 0;
  padding-right: 0;
}

.page-block
{
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 320px)
{
  .container
  {
	width : 320px;
  }

  .row
  {
	padding-left: 10px;
	padding-right: 10px;
  }
}

@media screen and (min-width: 480px)
{
  .container
  {
	width : 480px;
  }
  .row
  {
	padding-left: 25px;
	padding-right: 25px;
  }
}

@media screen and (min-width: 720px)
{
  .container
  {
	width : 720px;
  }
  .row
  {
	padding-left: 50px;
	padding-right: 50px;
  }
}

@media screen and (min-width: 1000px)
{
  .container
  {
	width : 1000px;
  }

  .page-block
  {
	padding-top: 100px;
	padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px)
{
  .container
  {
	width : 1440px;
  }
}