html
{
  font-size: $font-size-base;
  font-family: inter;
}

.page-title
{
  font-size: calc(1rem + 10px);
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  padding-bottom: 50px;
}

@media screen and (min-width: 480px)
{
  html
  {
    font-size: $font-size-min-480;
  }
}

@media screen and (min-width: 720px)
{
  html
  {
    font-size: $font-size-min-720;
  }
}

@media screen and (min-width: 1000px)
{
  html
  {
    font-size: $font-size-min-1000;
  }
  .page-title
  {
   display: inline-block;
  }
}

@media screen and (min-width: 1440px)
{
  html
  {
    font-size: $font-size-min-1440;
  }
}