body
{
  font-size: $font-size-base;
  font-family: inter;
}

.page-title
{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

@media screen and (min-width: 480px)
{
  body
  {
    font-size: $font-size-min-480;
  }

  .page-title
  {
    font-size: 14px;
  }
}

@media screen and (min-width: 720px)
{
  body
  {
    font-size: $font-size-min-720;
  }

  .page-title
  {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px)
{
  body
  {
    font-size: $font-size-min-1000;
  }

  .page-title
  {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px)
{
  body
  {
    font-size: $font-size-min-1440;
  }

  .page-title
  {
    font-size: 14px;
  }
}