.container
{
  min-height: 100vh;
}

.page-block
{
  height : 100%;
}

.display-grid
{
  display: grid;
}

.align-content--center
{
  align-content: center;
}

.error-messages
{
}

.page-title
{
  padding-bottom: 50px;
  display: block;

  &--center
  {
    text-align: center;
  }
}