.main-navigation
{
  padding: 10px;

  display: grid;
  grid-gap: 25px;

  justify-content: space-around;
  justify-items: center;

  box-shadow: 0 4px 4px #00000044;
}

.h-navbar
{
  display: flex;
  width: fit-content;

  &-item~&-item
  {
    margin-left: 5px;
  }

  &-icon
  {
    width: 36px;
    height: 36px;
  }
}

.h-navbar--links
{
  .h-navbar-item~.h-navbar-item
  {
    margin-left: 15px;
  }
}