.project
{
  display: grid;
  grid-template-rows: 50px 1fr;
  justify-items: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  background-color: #ffffff;
  box-shadow: inset 0 0 5px #000000;
  border-radius: 5px;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  transition: .2s;
  animation: none;

  animation-name: blue_gradient;
  animation-timing-function: linear;
  animation-duration: 1.25s;
  animation-play-state: paused;
  animation-iteration-count: infinite;

  &:hover
  {
	animation-play-state: running;
  }

  &:hover &-icon
  {
	transform: scale(.9, .9);
  }

  &-title
  {
	font-size: 18px;
	font-weight: 200;
	text-align: center;
	padding: 5px;
  }

  &-icon
  {
	max-width: 75%;
	max-height: 90%;
	transition: 1.5s;
  }
}

@media screen and (min-width: 480px)
{
  .project
  {
	grid-template-rows: 75px 1fr;

	&-title
	{
	  font-size: 20px;
	}
  }
}

@media screen and (min-width: 1000px)
{
  .project-title
  {
	font-size: 22px;
  }
}

@media screen and (min-width: 1440px)
{
  .project-title
  {
	font-size: 24px;
  }
}