.theme
{
  &-green-dark
  {
	background-color : #013220;
	color: #eeeeee;
  }

  &-green-intense
  {
	background-color : #006b3c;
	color: #dddddd;
  }

  &-green-see
  {
	background-color : #2e8b57;
  }

  &-green-light
  {
	background-color : #99ff99;
  }
}